body {
  font-family: sans-serif;
}
.container {
  display: block;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-image: linear-gradient(to top, #5c6979 0%, #a89bb6 100%);

  border: solid;
  border-width: thin;
  border-color: rgba(125, 147, 160, 0.281);
  border-radius: 5px;
  margin-top: 50px;
  max-width: 665px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

#text-input {
  color: white;
  background-color: rgba(179, 182, 212, 0.527);
  border-width: thin;
  border-color: rgba(86, 86, 112, 0.527);
  border-radius: 5px;
}

#searchCity {
  display: inline-block;
  line-height: 0, 5;
  padding-bottom: 3px;
}

#mapMarker {
  font-size: 25px;
  color: rgb(239, 239, 250);
}

#mapMarker:hover {
  color: white;
}

.row {
  margin: 0 auto;
}

#celcius-link {
  text-align: center;
}

#fahrenheit-link {
  text-align: center;
}
#dateTempbox {
  text-align: center;
  border-left: none;
  border-width: 1.2 px;
  border-color: white;
}

h3 {
  font-size: 30px;
  color: #f1f6f8;
  text-transform: uppercase;
  line-height: 1.2;
}

#weatherdis {
  color: #eff5f8;
  font-size: 25px;
}

#locationweatherbox {
  text-align: center;
  color: rgb(28, 26, 31);
  background-color: #b0ddf846;
  box-sizing: border-box;
  width: 311px;
  height: 260px;
  border-width: 1.1px;
  border-left: none;
  border-radius: 5px;
  border-color: white;
  padding-top: 10px;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.31);
}

.col-2 {
  text-align: center;
  padding: 0px;
  color: white;
  width: 16.6%;
}

h1 {
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
}

h2 {
  text-align: center;
  color: #eff5f8;
  font-size: 105px;
  padding-bottom: 25px;
  padding-top: 20px;
}

#humiditySpeed {
  color: #ffffff;
  line-height: 5px;
}

.weather {
  font-size: 20px;
  color: rgb(16, 16, 19);
  padding-top: 10px;
}

#forecastWeekday {
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.349);
  padding: 1px;
  padding-bottom: 5px;
  border-radius: 12px 10px 10px 12px;
  border: solid;
  border-width: thin;
  border-color: #6b658656;
  background-color: #7b92c54d;
  margin-top: 10px;
  margin-bottom: 5px;
  max-width: 622px;
}

#openSource {
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 3;
}
